#[include]
#  path = /Users/sane/dotfiles/.gitconfig
#[core]
#  excludesfile = /Users/sane/dotfiles/.gitignore-system
#[github]
#  user = sanemat
#  token = GITHUB_TOKEN
[user]
  name = sanemat
  email = o.gata.ken@gmail.com
[color]
  ui = auto
[core]
  editor = vim
  excludesfile = /Users/sane/dotfiles/.gitignore-system
  attributesfile = /Users/sane/dotfiles/.gitattributes-system
  pager = LESSCHARSET=utf-8 less
[github]
  user = sanemat
  token = GITHUB_TOKEN
[alias]
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%cn] %Cgreen%d%Creset %s\" --all --date=short
  ci = commit
  st = status
  co = checkout
  oneline = log --pretty=oneline
  br = branch
  la = log --pretty=\"format:%ad %h (%an): %s\" --date=short
  a = add
  mergelog = "!$SHELL -c 'git log --grep=\"Merge pull request\" origin/master | egrep -v \"^(commit|Merge:|Author:|Date:| +Merge pull)\" | egrep \"[^ ]\" | head -10 | sed \"s/\\[fi.*$//\" | sed \"s/^ */- /\"' __dummy__"
  mergelog20 = "!$SHELL -c 'git log --grep=\"Merge pull request\" origin/master | egrep -v \"^(commit|Merge:|Author:|Date:| +Merge pull)\" | egrep \"[^ ]\" | head -20 | sed \"s/\\[fi.*$//\" | sed \"s/^ */- /\"' __dummy__"
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
[ghq]
  root = ~/src
[push]
  default = simple
